* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h2,
p {
    font-style: normal;

    line-height: normal;
    text-align: center;
    font-family: Hind Madurai;
}

section {
    align-items: center;
}


/* For MOBILE VIEW */
/* Section One */
@media only screen and (max-width :760px) {

    /* Patchs Section  */
    #patch7 {
        position: absolute;
        top: -15px;
        right: 0;
        z-index: -1;
    }

    #patch6 {
        position: absolute;
        top: 75%;
        z-index: -1;
    }

    #patch5 {
        position: absolute;
        top: 120em;
        right: 0;
        z-index: -1;
    }

    /* #patch {
        position: absolute;
        top:
    } */

    #patch4 {
        position: absolute;
        top: 190em;
        right: 0;
        z-index: -1;
    }

    #patch3 {
        position: absolute;
        top: 222em;
        z-index: -1;
    }

    #patch2 {
        position: absolute;
        top: 265em;
        right: 0;
        z-index: -1;
    }
    /* -------------------------------------------------------------------------------------------------------------------------- */

    .Navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .logo {
        width: 25%;
        margin: 5px;
    }

    #title {
        margin-right: 10px;
        color: #D98400;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-transform: uppercase;
    }

    #navImg {
        margin: 25px 5px;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }

    .firstSection,
    .secondSection {
        display: flex;
        flex-direction: column;
        margin: 0px 47px 22px 40px;
    }

    .Title h1 {
        width: 265px;
        margin: 40px 0px;
        color: #2f1717;
        font-size: 25px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-transform: capitalize;
    }

    #Img {
        width: 300px;
        height: 462px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 30px;
    }

    .firstBtn,
    #btn {
        color: white;
        padding: 12px 10px;
        border: #D98400;
        text-align: center;
        font-weight: 600;
        margin: 20px 70px 20px 70px;
        align-self: center;
        border: none;
        width: 250.151px;
        height: 48px;
        border-radius: 60px;
        background: #D98400;
        cursor: pointer;
        text-decoration: none;
    }

    .firstBtn,
    #btn:hover {
        transition: 0.4s;
        background: #ffa5000f;
        color: #D98400;
        border: 2px solid #D98400;
    }

    .carousel-caption .firstBtn:hover {
        color: white;
        transition: 0.4s;
        background: transparent;
        color: #D98400;
        border: 2px solid #D98400;
    }

    .Title>p {
        margin: 15px 6em 8px 0px;
        align-self: start;
        margin: 8px 0;
        color: #D98400;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
    }

    .secondSection h1 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 1.25rem;
    }

    .rating {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .rateUs,
    .rate_Discription {
        margin-top: 35px;

    }

    .rateUs p {
        width: 237.355px;
        color: #747272;
        font-size: 16px;
        font-weight: 300;
    }

    .rateUs h2 {
        color: #D98400;
        font-size: 55px;
        font-weight: 600;
    }

    .rate_Discription h2 {
        margin-bottom: 28px;
        color: #2F2617;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;


    }

    .rate_Discription {
        width: 300px;
        margin: 35px 44px 28px 44px;
    }

    .rateUs,
    .rate_Discription p {
        color: #747272;
        font-size: 15px;
        font-weight: 300;

    }

    /* Corousel section */

    .cardContainer {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .bd-example {
        width: 300px;
        line-height: 1.2rem;
    }

    .w-100 {
        object-fit: cover;
        border-radius: 30px;
        width: 300px;
        height: 464px;
        flex-shrink: 0;
    }

    .carousel-caption {
        display: flex;
        flex-direction: column;
    }

    .carousel-caption>.firstBtn {
        color: white;
        align-self: center;
        width: 200px;
        height: 45px;
        background-color: #D98400;
    }

    /* Third Section */
    .thirdSection {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .Must-Visit {
        width: 300px;
    }

    .Must-Visit p {
        color: #747272;
        font-size: 15px;
        font-weight: 300;

    }

    .Must-Visit h2 {
        margin-bottom: 28px;
        color: #2F2617;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;

    }

    /* Cards of Most visited places */
    .w-200 {

        position: relative;
        display: block;
        object-position: center;
        object-fit: cover;
        border-radius: 15px;
        width: 300px;
        height: 410px;
        flex-shrink: 0;
    }

    .carousel {
        width: 300px;
    }

    /* ----------------- */
    .w-200 {
        position: relative;
        overflow: hidden;
    }

    .container {
        padding: 10px 0;
        width: 100%;
        height: 100%;
        display: flex;
        bottom: -100%;
        right: 0;
        flex-direction: column;
        position: absolute;
        justify-content: flex-end;
        color: white;
        background: rgb(27 29 32 / 43%);
        border-radius: 15px;
        backdrop-filter: blur(2px);
        align-items: center;
        transition: 0.7s ease;
    }

    .wraper:hover .container {
        bottom: 0;
    }

    .container>.firstBtn {
        margin: 30% 0 10%;
    }

    /* Fourth Section */
    .fourthSection {
        margin: 50px;
        display: flex;
        flex-direction: column;
    }

    .fourthSection h2 {
        margin-bottom: 28px;
        color: #2F2617;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
    }

    .cardlist1 {
        display: flex;
    }

    .card {
        border-radius: 30px 30px;
        background: #F5F4F4;
    }

    .card-img-top {
        width: 287px;
        object-fit: cover;
        object-position: center;
        height: 200px;
        border-radius: 30px 30px 0 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 260px;
        flex-shrink: 0;
        color: #D98400;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
    }

    .card-body p {
        text-align: justify;
        color: #747272;
        font-size: 15px;
        font-weight: 400;
        width: 245px;
        height: 18vh;

    }

    .btn-primary {
        padding: 0.4em 2em;
        background-color: #D98400;
        border: none;
        align-self: center;
        border-radius: 25px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
    }

    .card-title {
        margin-bottom: 0.75rem;
        padding-left: 0.7em;
        font-weight: 600;
    }

    .carousel-control-next {
        right: -38px
    }

    .carousel-control-prev {
        left: -40px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        filter: brightness(0);
    }

    .btn-primary:hover {
        background: transparent;
        border: 2px solid #D98400;
        color: #D98400;
    }

    /* Fifth Section */
    .fifthSection {
        margin: 45px 45px;
        display: flex;
        flex-direction: column;
    }

    .fifthSection h1 {
        font-size: 2rem;
        margin: 45px 0;
    }

    .formSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textField {
        padding: 0 25px;
        margin-bottom: 24px;
        width: 300px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 60px;
        border: 1px solid #AAA;
    }
}