* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body h2,
p {
    font-style: normal;

    line-height: normal;
    text-align: center;
    font-family: Hind Madurai;
}

a:not([href]):not([tabindex]) {
    color: white;
}

section {
    align-items: center;
}

/* For MOBILE VIEW */
/* Section One */
@media only screen and (max-width :760px) {

    .Navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    #title {
        /* margin:  25px 25.56px 40px 50px; */
        color: #D98400;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-transform: uppercase;
    }

    #navImg {
        margin: 25px 5px;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }

    .firstSection,
    .secondSection {
        display: flex;
        flex-direction: column;
        margin: 0px 47px 22px 40px;
    }

    .Title h1 {
        width: 265px;
        margin: 40px 0px;
        color: #2f1717;
        font-size: 25px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        line-height: normal;
        text-transform: capitalize;
    }

    #Img {
        width: 300px;
        height: 462px;
        flex-shrink: 0;
        object-fit: cover;
        border-radius: 30px;
    }

    .firstBtn {
        padding: 10px;
        text-align: center;
        font-weight: 600;
        margin: 20px 70px 20px 70px;
        align-self: center;
        border: none;
        width: 250.151px;
        height: 48px;
        border-radius: 60px;
        background: #D98400;
        cursor: pointer;

    }

    .Title>p {
        align-self: start;
        margin: 8px 0;
        color: #D98400;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
    }

    .secondSection h1 {
        font-family: Poppins;
        font-weight: bold;
        font-size: 1.25rem;
    }

    .rating {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .rateUs,
    .rate_Discription {
        margin-top: 35px;

    }

    .rateUs p {
        width: 237.355px;
        color: #747272;
        font-size: 16px;
        font-weight: 300;
    }

    .rateUs h2 {
        color: #D98400;
        font-size: 55px;
        font-weight: 600;
    }

    .rate_Discription h2 {
        margin-bottom: 28px;
        color: #2F2617;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;


    }

    .rate_Discription {
        width: 300px;
        margin: 35px 44px 28px 44px;
    }

    .rateUs,
    .rate_Discription p {
        color: #747272;
        font-size: 15px;
        font-weight: 300;

    }

    /* Corousel section */

    .cardContainer {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .bd-example {
        width: 300px;
        line-height: 1.2rem;
    }

    .w-100 {
        object-fit: cover;
        border-radius: 30px;
        width: 300px;
        height: 464px;
        flex-shrink: 0;
    }

    .carousel-caption {
        display: flex;
        flex-direction: column;
    }

    .carousel-caption>.firstBtn {
        align-self: center;
        border: none;
        width: 200px;
        height: 45px;
    }

    /* Third Section */
    .thirdSection {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    .Must-Visit {
        width: 300px;
    }

    .Must-Visit p {
        color: #747272;
        font-size: 15px;
        font-weight: 300;

    }

    .Must-Visit h2 {
        margin-bottom: 28px;
        color: #2F2617;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;

    }

    /* Cards of Most visited places */
    .w-200 {

        position: relative;
        display: block;
        object-position: center;
        object-fit: cover;
        border-radius: 15px;
        width: 300px;
        height: 410px;
        flex-shrink: 0;


    }

    .carousel {
        width: 300px;
    }

    /* ----------------- */
    .w-200 {
        position: relative;
        overflow: hidden;
    }

    .container {
        padding: 10px 0;
        width: 100%;
        height: 100%;
        display: flex;
        bottom: -100%;
        right: 0;
        flex-direction: column;
        position: absolute;
        justify-content: flex-end;
        color: white;
        background: rgb(27 29 32 / 43%);
        border-radius: 15px;
        backdrop-filter: blur(2px);
        align-items: center;
        transition: 0.7s ease;
    }

    .wraper:hover .container {
        bottom: 0;
    }

    .container>.firstBtn {
        margin: 30% 0 10%;
    }

    /* Fourth Section */
    .fourthSection {
        margin: 50px;
        display: flex;
        flex-direction: column;
    }

    .fourthSection h2 {
        margin-bottom: 28px;
        color: #2F2617;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 600;
    }

    .cardlist1 {
        display: flex;
    }

    .fourthSection .carousel {
        width: 100%;
    }

    .card {
        border-radius: 30px 30px;
        background: #F5F4F4;
    }

    .card-img-top {
        width: 287px;
        object-fit: cover;
        object-position: center;
        height: 200px;
        border-radius: 30px 30px 0 0;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 260px;
        flex-shrink: 0;
        color: #D98400;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
    }

    .card-body p {
        text-align: justify;
        color: #747272;
font-size: 15px;
font-weight: 400;

    }
    .btn-primary {
        padding: 0.6em 1.8em;
        background-color: #D98400;
        border: none;
        align-self: center;
        border-radius: 15px;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
    }
    .card-title{
        margin-bottom: 0.75rem;
        padding-left: 0.7em;
        font-weight: 600;
    }
    .carousel-control-next ,.carousel-control-prev{
      
    }
}